<!DOCTYPE html>
<html ng-app="Assignment2App">

<head>
  <meta charset="utf-8">
  <script src="angular.min.js"></script>
  <script src="app.js"></script>
  <title>Module-2 Coding Assignment</title>
</head>

<body>
  <div ng-controller="Assignment2Controller">
    <h1> {{ name }}</h1>
    <tbody style="text-align: center;">
      <tr>
        <td colspan="2">To Buy {{ message1 }}</td>
      </tr>
      <div ng-repeat="item in shoppingItems">
        <tr>
          <td>{{$index+1}}. Buy {{ item.quantity }} {{ item.name }}</td>
          <td><input type="button" value="Bought" ng-click="BoughtItem(item.quantity,item.name)"></td>
        </tr>
      </div>
      <br><br>
      <tr>
        <td colspan="2">Already Bought {{ message2 }}</td>
      </tr>
      <div ng-repeat="item in BoughtItems">
        <tr>
          <td colspan="2">{{$index+1}}. Bought {{ item.quantity }} {{ item.name }}</td>
        </tr>
        <br>
        
      </div>

    </tbody>
  </div>
</body>

</html>